@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
  cursor: url('../images/graphics/magic-wand.png'), auto;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background: #0a0c1a url("../images/graphics/hackhers-stripped-bg.png") no-repeat;
  background-size: cover;
  background-color: #0f102f !important;
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: none !important;
}
#page-bg {
  background-image:
    url("../images/graphics/gradient-overlay.png"),
    url("../images/graphics/hackhers-stripped-bg.png");

  background-repeat: no-repeat, no-repeat;

  background-size:
    min(700px, 90%) auto,
    cover;

  background-position:
    center top,
    center top;

  background-color: #0f102f;
}

.section {
  position: relative;
  width: 100%;
  overflow: hidden;   /* prevents zoom bleed */
}

.section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 0;
}

a, button, i{
  cursor: pointer !important;
}


/*styling navbar*/

.navbar{
  font-family:  'Quicksand', sans-serif;
  border-radius: 0;
  height: 80px;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
  display: flex; 
}

.navbar li a {
  font-size: 22px;
  color: white;
}
.navbar li a:hover {
  color: #9BBDEE;
}

.navbar li {
  margin-right: 15px;
}

.nav-pills .nav-link.active {
  background: none;
  color: #9BBDEE;
}

/* Main (Non-Nav) Register Button Styling */

.navbar li a.register-btn {
  background-color: #2A5482;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.navbar li a.register-btn:hover {
  background-color: #276BB8;
  color: white !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.dropdown {
  display: none;
}


/* MAIN section */
.section-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #C8D5ED;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 5px rgba(255, 255, 255, 0.2), 0 0 8px rgba(255, 255, 255, 0.2);
}

.title-content {
  width: 80%; 
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18vh;
}

/* TITLE section */
#title {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 0; 
  margin-bottom: 0;
}

#title::before {
  background-image: 
    url("../images/graphics/hackhers-title.png"), 
    url("../images/graphics/dragon-overlay.png");
  
  background-size:
    min(700px, 90%) auto,
    cover;

  background-position: 
    center 15vh, 
    center 15vh;

  background-repeat: no-repeat, no-repeat;
  pointer-events: none; /* allows clicks and hover to pass through */
  z-index: 0; 
}

#title-details-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  font-size: 30px;

}

#date-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh; 
}

#location-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh; 
}

#title-date {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  text-align: center;
  color: #C8D5ED;
}

#title-month {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  text-align: center;
  color: #9BBDEE;
}

#title-campus {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  color: #C8D5ED;
  margin-top: 0;
  text-align: center;
}

#title-building {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  color: #9BBDEE;
  margin-top: 0;
  text-align: center;
}

#title-register {
  background-color: #2A5482;
  padding: 8px 20px;
  border-radius: 16px;
  transition: all 0.3s ease;
  font-size: 22px;
  color: white;
  border: 2px solid rgba(155, 189, 238, 0.8);
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0 0 20px rgba(155, 189, 238, 0.5),
              inset 0 0 15px rgba(155, 189, 238, 0.2);
}

#title-register:hover {
  background-color: #276BB8;
  color: white !important;
  border-color: rgba(155, 189, 238, 1);
  box-shadow: 0 0 40px rgba(155, 189, 238, 0.9),
              inset 0 0 25px rgba(155, 189, 238, 0.4);
}
/* ABOUT section */
/* .section#about {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;

  background: url("../images/graphics/city-overlay-with-text-copy.png") no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 10;
} */

#about::before {
  background-image:
    url("../images/graphics/city-overlay-with-text-copy.png");
  background-size: 100% auto; 
  background-repeat: no-repeat;
  background-position: top center;
}
#about-info {
  max-width: 80%; 
  margin: 550px auto 0 auto; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#about-details-wrapper {
  display: flex;
  width: 100%;
  max-width: 80%;
  gap: 15%
}

.paragraph-container {
  flex: 0 0 65%;
  margin-top: 100px;
  margin-left: -70px;
}

#paragraph {
  font-family: 'Schoolbell', cursive;
  font-size: 28px;
  line-height: 1.8;
  color: white;
  text-align: left;
}

.right-content {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-top: 100px;
}

#since-2015 {
  font-family: 'Schoolbell', cursive;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: white;
}

.stats-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 40px;
}

.stats-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.stats-column h2 {
  font-family: 'Schoolbell', cursive;
  font-size: 4rem;
  color: #9BBDEE;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.stats-column p {
  font-family: 'Schoolbell', cursive;
  font-size: 1.5rem;
  color: white;
  margin: 0;
  font-weight: 400;
}

.counter {
  font-family: 'Schoolbell', cursive;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.counter.visible {
  opacity: 1;
}

/* FAQ section */

#faq::before {
  background-image: url("../images/graphics/faq-overlay-with-text-copy.png");
  background-size: 100% auto;  /* fit width, scale height proportionally */
  background-repeat: no-repeat;
  background-position: top center;
}

#faq {
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: "Quicksand", sans-serif;

}

.faq-content {
  margin-top: 900px;
  position: relative;
  z-index: 1;
}

#faq h1{
  text-align: center;
}

#faq a {
  font-weight: bold;
  color: white;
}

#faq .additional-questions {
  text-align: center;
  color: white;
  font-size: 30px;  
}

#all-questions {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;
}

.faq {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-column {
  flex: 1;
  padding: 10px;
}

.faq .question:after {
  content: '\002B';
  font-size: 20px;
  color: white;
  float: right;
  font-weight: bold;
}

.faq .active .question:after {
  content: "\2212";
}

.faq .question {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  margin-bottom: 20px;
  color: #384d75;
  background-color: rgba(255,255,255,0.25);
  border-radius: 10px;
  padding: 10px;
}

.faq .question:hover {
  font-weight: 600;
}

.faq .active .question {
  font-weight: 600;
}

.faq .answer {
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  color: #384d75;
}

.faq li.active .answer {
  max-height: 275px;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

/* SPONSORS */

.section#sponsors{
  margin-top: 50vh;
  text-align: center;
  margin-right: 40vh;
  margin-left: 40vh;
}

/*team styling*/

.section#team{
  margin-top: 130vh;
  text-align: center;
}

#team{
  text-align: center;
}

#team .row{
  margin-top: 30px;
  width: 100%;
}

#team .section-title{
  text-align: center;
}

.team-wrapper{
  width: 300px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align:center;
}

.team .team-wrapper .lead{
  padding: 1rem;
  position: absolute;
  background-color: transparent;
  left: 4px;
  right: 4px;
  top: 0;
  text-align:center;
}

#team h4, #team h6{
  color: white;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
}

#team h6{
  font-size: 15px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
}

#team h4{
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
  color: #b6bde0;
  padding-top: 12px;
}

#team .team-wrapper img{
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

/* map */

iframe {
  display: block; 
  margin: 0 auto; 
  border: 0;
  max-width: 80%; 
  height: 300px; 
}

/*footer*/

/*#footer {
  /* old footer */
  /* position: relative;
  width: 100%;
  background-color: #0f102f;
  padding: 30px;
  padding-left: 20px;
  font-family: "Quicksand", sans-serif;
  bottom: 0;
  margin-top: 50vh; 
}*/
/*footer*/

#footer {
  position: relative;
  background-image: url('../images/graphics/footer-overlay.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px 40px 20px;
  color: #fff;
  text-align: center;
  min-height: 100vh;
}

#footer p {
  margin: 0;
}

#footer .made-with p {
  font-weight: 300;
  font-size: 12px;
}

/* Contact overlay on the right */
.contact-info {
  text-align: right;
  font-family: 'Schoolbell', cursive;
  color: white;
  margin-right: 100px;
  margin-top: 300px;
  font-family: 'Schoolbell', cursive;
}

#footer h3 {
  font-size: 4rem;
}

.contact-info p {
  font-size: 35px;
  margin-bottom: 40px;
}

.contact-info .contact-icons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 64px;
}

.contact-info .contact-icons a {
  color: white;
  transition: transform 0.3s ease;
}

.contact-info .contact-icons a:hover {
  transform: scale(1.1);
}

/* MEET THE TEAM SECTION */

.tabcontent{
  margin: 20px 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;  
}

.tabcontent.active {
  display: flex;
}

.tab {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  border-bottom: 1.5px solid white;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tablinks {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0;
  margin-top: 40px; 
  font-size: 16px;
  color: white;
  transition: 0.3s ease, color 0.3s ease;
}

.tab .tablinks:hover {
  background-color: #2d2c3b;
  color: #ffffff;
  border-radius: 4px 4px 0 0;  
}

.tab .tablinks.active {
  background-color: #342d5e;
  color: white;
  border-radius: 4px 4px 0 0;
}

.tablinks {
  border: none;
  outline: none;
}

.tablinks:focus {
  outline: none;
}

#member-container {
  display: flex; 
  flex-wrap: wrap;
  width: 85%; 
  gap: 0px;
  justify-content: center; 
  margin: 0 auto;
}

.member-card{
  position: relative; 
  width: 255px; 
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image-box{
  margin: 0 auto;
  width: 225px;       
  height: 225px;     
  background-color: #D8E1EE;
  border-radius: 10px;
}

.name{
  font-size: 17px;
  font-weight: 700;
  color: #CCB8F9;
  margin-top: 12px;
  line-height: 21.25px;
}

.role{
  font-size: 10px;
  font-weight: 400;
  color: white;
  margin-top: -5px;
  line-height: 21.25px;
}

/* ========================================
   MEDIA QUERIES - RESPONSIVE DESIGN
   ======================================== */

/* Smartphones (max-width: 575px) */
@media screen and (max-width: 575px) {
  main {
    width: 90%;
  }

  html, body {
    background-size: cover; 
    background-repeat: no-repeat;
    /* Keep the same background as desktop */
    background-image: url('../images/graphics/hackhers-stripped-bg.png');
    min-height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
    max-width: 100%;
  }

  #footer {
    background-size: 100% auto;  /* fit width, scale height proportionally */
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 25vh;
    padding: 0;
  }

  .contact-info {
    text-align: center;
    margin-right: 0;
    margin-top: 0;
  }

  #footer h3 {
    font-size: 2.5rem;
  }

  .contact-info p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contact-info .contact-icons {
    justify-content: center;
    font-size: 36px;
    gap: 20px;
  }

  #mlh-trust-badge {
    right: 0px;
  }
  
  #mlh-trust-badge img {
    width: 60%;
  }

#title {
  min-height: 50vh; 
  margin: 0;
}

#title::before {
  background-position: 
    center 60px,
    center 60px;
}

  .title-content {
    margin-top: 15vh;
    width: 100%;
  }

  #title-name {
    font-size: 37px;
    margin-top: 60px; 
  }

  #title-date, #title-month, #title-campus, #title-building {
    font-size: 15px;
  }

  #title-details-wrapper {
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
    margin-top: 20px;
  }

  #date-group, #location-group {
    margin-top: 0;
  }

  .navbar {
    display: none !important;
  }

  .dropdown {
    display: block; 
  }

  .dropbtn {
    background-color: #3f6dac;  
    color: white; 
    font-size: 15px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    font-family: "Quicksand", sans-serif;
    position: relative;
    display: inline-block;
  }

  .myDropdown {
    position: fixed;
    top: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 5px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-family: 'Quicksand', sans-serif; 
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    color: transparent; 
  }

  .dropdown:hover .dropbtn { 
    background-color: #384d75; 
  } 

  .section-title {
    font-size: 24px;
  }

  #about-info {
    margin-top: 200px;
  }

  #about-details-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
  }

  .paragraph-container {
    flex: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #paragraph {
    text-align: center;
    font-size: 1.2rem;
  }

  .right-content {
    flex: none;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 0;
  }

  .stats-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .stats-column {
    align-items: center;
    text-align: center;
  }

  .stats-column h2 {
    color: #2A5482;
    font-size: 3rem;
  }

  .stats-column p {
    color: white;
  }

  .coming {
    font-size: 20px;
    color: white;
  }

  .counter{
    margin: 0;
  }

  .dino-image {
    height: 40px; 
    width: 30px; 
  }

  .section#tracks{
    height: 100vh;
    margin-top: 20vh;
  }

  .section#tracks .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section#tracks .track {
    width: 140px;
    margin: 5px;
  }

  .section#tracks #choose-your-char{
    font-size: 15px;
  }

  .section#tracks .image-container {
    width: 140px;
    height: 140px;
  }

  .section#tracks h3 {
    font-size: 1rem;
  }

  .section#tracks p {
    font-size: 0.7rem;
  }

  .section#schedule{
    margin: 0;
    margin-top: 20vh;
  }

  #schedule-content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .schedule-column {
    width: 90%;
  }

  .schedule-row {
    font-size: 13px;
  }

  #faq {
    width: 100%;
    padding: 0 16px;
    font-family: 'Quicksand', sans-serif;
  }

  #faq * {
    max-width: 100%;
  }

  #faq h1{
    text-align: center;
  }

  #faq a {
    font-weight: bold;
    color: white;
  }

  #faq .additional-questions {
    font-size: 20px;  
  }

  .faq-content {
    margin-top: 250px;  
    margin-bottom: 50px;
  }

  #all-questions {
    flex-direction: column;
  }

  .faq {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .faq-column {
    flex: none;
    padding: 0;
  }

  .faq .question:after {
    content: '\002B';
    font-size: 20px;
    float: right;
    font-weight: bold;
  }

  .faq .active .question:after {
    content: "\2212";
    color: white;
  }

  .faq .question {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s ease;
    margin-bottom: 20px;
    color: #384d75;
    background-color: rgba(255,255,255,0.25);
    border-radius: 10px;
    padding: 10px;
  }

  .faq .answer {
    font-size: 16px;
  }

  .section#sponsors{
    margin: 0;
    margin-top: 20vh;
  }

  .section#team{
    margin: 0;
    margin-top: 50vh;
  }
}

/* Medium Tablets (600px to 956px) */
@media (min-width: 600px) and (max-width: 956px) {
  main {
    width: 90%;
  }

  #page-bg {
    background-size:
      min(700px, 90%) auto,
      cover;
  }

  .title-content {
    margin-top: 10vh;
  }

  #about-info {
    margin-top: 400px;
  }
  #about-details-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
  }

  .paragraph-container {
    flex: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #paragraph {
    text-align: center;
    font-size: 1.8rem;
  }

  .right-content {
    flex: none;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 0;
  }

  .stats-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .stats-column {
    align-items: center;
    text-align: center;
  }

  .stats-column h2 {
    color: #2A5482;
    font-size: 5rem;
  }

  .stats-column p {
    color: white;
  }

  .faq-content {
    margin-top: 500px;
  }

  #all-questions {
    flex-direction: column;
  }

  #faq {
    padding: 0 20px;
  }
  .faq .question {
    font-size: 30px;
  }

  .faq .answer {
    font-size: 30px;
  }

  .faq-column {
    flex: none;
    padding: 0;
  }

  .navbar-toggler {
    position: relative;
    float: right;  
    padding: 9px 10px; 
    margin-top: 15px; 
    margin-right: 15px; 
    background-color: #450a74; 
    border: 3px solid #213355; 
    border-radius: 4px; 
  }

  .navbar-toggler:hover {
    background-color: #213355;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }

  #title-date, #title-month, #title-campus, #title-building {
    font-size: 30px;
  }

}

/* Larger tablets (ipad pro) and small desktops (max-width: 1300px) */
@media (min-width: 956px) and (max-width: 1300px) {
  .title-content {
    margin-top: 200px;
  }

  #about-info {
    margin-top: 350px;
  }

  .stats-column h2 {
    color: #2A5482;
  }

  .faq-content {
    margin-top: 600px;
  }
}

/* Short screens: iphone se (375 x 667), samsung galaxy s8 (360 x 740) */
@media screen and (max-height: 750px) and (max-width: 575px) {
  .title-content {
    margin-top: 30vh;    
  }

  .faq-content {
    margin-top: 50vh;
  }
}